*{
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: center;
    justify-content: center;
    background-image: url("./images/notebook-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    color: white;
    border: 15px solid #3b1e05;
    border-radius: 10px;
    background-image: linear-gradient(darkgreen, #12960e , darkgreen);
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
}
button{
    display: center;
    justify-content: center;
    align-items: center;
}
h1{
    background-image: linear-gradient(#f5da42, orange);
    border: 1px solid black;
    border-radius: 10px;
    border-bottom: 8px dashed black;
    justify-content: center;
    display: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
h2{
    font-size: 30px;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    display: center;
    text-align: center;
    
}
h3{
    padding: 20px;
    justify-content: center;
    display: center;
    text-align: center;
}